<table class="pure-table pure-table-bordered ads">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <tr class="header">
            <th colspan="4">Compare different IRA providers</th>
        </tr>
    </thead>
    <tbody>
        <tr class="provider">
            <td>Provider</td>
            <td>
                <a href="<%= about_path + '?ref=etrade' %>"><img src="/ads/etrade.png"></a>
            </td>
            <td>
                <a href="<%= about_path + '?ref=merrilledge' %>"><img src="/ads/merrilledge.png" ></a>
            </td>
            <td>
                <a href="<%= about_path + '?ref=tradestation' %>"><img src="/ads/tradestation.png"></a>
            </td>
        </tr>
        <tr class="name">
            <td>Name</td>
            <td><a href="<%= about_path + '?ref=etrade' %>">E*TRADE</a></td>
            <td><a href="<%= about_path + '?ref=merrilledge' %>">Merrill Edge</a></td>
            <td><a href="<%= about_path + '?ref=tradestation' %>">Tradestation</a></td>
        </tr>
        <tr class="description">
            <td>Description</td>
            <td>Learn more about an E*TRADE Roth IRA<br /><a class="cta" href="<%= about_path + '?ref=etrade' %>">Learn More</a></td>
            <td>Get up to $600 when you invest in a new Merrill Edge® account<br /><a class="cta" href="<%= about_path + '?ref=merrilledge' %>">Learn More</a></td>
            <td>Only $5&#47;trade + 50¢&#47;options contract<br /><a class="cta" href="<%= about_path + '?ref=tradestation' %>">Learn More</a></td>
        </tr>
    </tbody>
</table>