<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "The Ultimate Roth IRA Guide | FatRoth.com" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.5.0/pure-min.css" %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="<%= @description %>" />
  <%= render 'layouts/ga' %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-5">
    <div class="sidebar-wrapper">
      <a class="logo" href="<%= root_path %>"><img src="<%= image_url('logo.png') %>" /></a>
      <div class="icons">
      </div>
      <p class="bio"></p>
      <% if current_user %>
        <span style="font-size: 10px"><%= current_user.email %></span>
      <% end %>
    </div>
  </div>
  <div class="content pure-u-1 pure-u-md-4-5">
    <%= yield %>
  </div>
  <div class="footer pure-u-1">&copy; 2017 FatRoth</div>
</div>

</body>
</html>
