<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "The Ultimate Roth IRA Guide | FatRoth.com" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="<%= @description %>" />
  <link rel="canonical" href="http://www.fatroth.com/" />
  <%= render 'layouts/ga' %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<div id="nav">
  <nav>
    <div class="nav-container">
      <a class="logo" href="<%= root_path %>"><img src="<%= image_url('logo.png') %>" /></a>
    </div>
  </nav>
</div>


<div id="layout" class="pure-g">

<!-- Left col -->
  <div class="content pure-u-md-17-24">
    <div class="content-container">
      <%= yield %>
    </div>
  </div>
<!-- End left -->

<!-- Right col -->
  <div class="sidebar pure-u-md-6-24">
    <div class="sidebar-wrapper">

      <div class="popular">
        <div class="popular-title">Most Read</div>

        <ul>
          <li><a href="/backdoor-roth-ira-ultimate-fidelity-step-by-step-guide">Backdoor Roth IRA: Ultimate Fidelity Step by Step Guide</a></li>
          <li><a href="/2017-roth-ira-rules">2017 Roth IRA Rules</a></li>
          <li><a href="/can_you_have_more_than_one_roth_ira">Can you have more than one Roth IRA? Should you?</a></li>
          <li><a href="/roth_401k_vs_roth_ira">Roth 401(k) vs Roth IRA: What’s the difference and which one should you have?</a></li>
          <li><a href="/usaa_roth_ira">USAA Roth IRA — Everything you need to know</a></li>
          <li><a href="/roth_ira_basis">Complete Guide to Your Roth IRA Basis</a></li>
        </ul>

      </div>

      <p class="bio"></p>
      <% if current_user %>
        <span style="font-size: 10px"><%= current_user.email %></span>
      <% end %>
    </div>
  </div>
<!-- End right -->

<!-- Footer -->
  <div class="footer pure-u-1">&copy; 2017 FatRoth</div>
<!-- End Footer -->


</div>

</body>
</html>
